[submodule "thirdparty/asio"]
	path = thirdparty/asio
	url = ../asio/
	branch = develop
[submodule "thirdparty/rapidjson"]
	path = thirdparty/rapidjson
	url = ../rapidjson
	branch = develop
[submodule "thirdparty/yaml-cpp"]
	path = thirdparty/yaml-cpp
	url = ../yaml-cpp
	branch = develop
